<div class="panel panel-default">
    <div class="panel-body">
      <b>Topics List</b> <br/><br/>  
      <button type="button" class="btn btn-primary">
          <a routerLink="/Topics-New" style="color:white"> Create New Topic </a>
        </button>
        <br/><br/> 
      <!-- LATEST TOPIC LIST -->
      <div class="panel panel-default" *ngFor="let topic of topics">
          <div class="panel-body">
              <a [routerLink]="['/Topics',topic.topicName]"> <b> {{ topic.topicName }} </b></a><br/>
              <div><a [routerLink]="['/Profile',topic.startedBy]"> {{ topic.startedBy }} </a>
               {{ topic.startedDate }} <a [routerLink]="['/Replies',topic.topicName]"> <b>Reply List</b> </a></div>
          </div>
      </div>
      <!-- LATEST TOPIC LIST //-->
    </div>
  </div>