<div class="panel panel-default">
    <div class="panel-body">
      <b>Topic Page</b> <br/><br/>  
      
      <div class="panel panel-default">
          <div class="panel-body">
            <b>{{topicTitle}}</b> <br/><br/>  
            
            
            <!-- LATEST TOPIC LIST //-->
          </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
              "Topic Content"
              
              
              <!-- LATEST TOPIC LIST //-->
            </div>
          </div> 

          <button type="button" class="btn btn-primary">
              <a routerLink="/Reply-New" style="color:white"> Reply To Topic </a>
            </button>    
            <br/><br/>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Administrator Actions
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a>Edit Content</a></li>
                  <li><a routerLink="/Topics">Delete Topic</a></li>
                </ul>
              </div>
      <!-- LATEST TOPIC LIST //-->
    </div>
  </div>